.dark-mode-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.icon {
    margin-right: auto;
    margin-left: auto;
    user-select: none;
}

#moon {
    display: none; /* Ay ikonunu başlangıçta gizle */
}

.dark-mode {
    background-color: #2c3e50; /* Dark mode arka plan rengi */
    color: #fff;
}


    ul{
        list-style-type: none;
        padding-inline-start: 30px;
    }

    li{
        display: block;
    }

    .button_disabled {
        opacity: 0.5; 
        pointer-events: none;
    }

    .button_disabled_v2 {
        opacity: 0.2;
        pointer-events: none;
    }

    .display_none {
        display: none;
    }


    .notGizliButon{
        transition: height 0.2s; 
        margin-left: 30px;
        height: 8px;
        width: 100px;
        display: block; 
        opacity: 0.2;
    }

    #menubar {
        display: flex;
        gap: 5px; /* İstenilen boşluk miktarını ayarlayabilirsiniz */
    }

    #menubar form{
        display: flex;
        gap: 5px; /* İstenilen boşluk miktarını ayarlayabilirsiniz */
    }

    #duzenle_baslik {
        border: 0px;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
    }

    #duzenle_icerik {
        width: 1100px;
        height: 100px;
    }

    #notlarim {
        overflow: scroll;
        white-space: nowrap;
        resize: horizontal; /* Genişliği kullanıcı tarafından değiştirilebilir hale getirir */
        border: 0px; /* Kenarlık ekleyerek genişliği daha belirgin hale getirir */
        height: 300px;
        max-width: 400px;  /* genişleme sınırını belirler */            
    }

    #not_duzenle {
        margin-left: 30px;
        margin-right: auto;
        width: 600px;
        height: 300px;
        flex-direction: column;

    }

    .ortak_OlusturDuzenle {
        vertical-align: top; /* Diğer span'ın üst kısmına hizalama */
        display: inline-flex;
    }