* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select:none;
}
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #333;
}

*::-webkit-scrollbar
{
	background-color: black;
    width: 10px; /* Dikey scroll barın genişliği */
    height: 10px; /* Yatay scroll barın yüksekliği */
}

*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c00;
}
*::-webkit-scrollbar-corner{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333;
}
body{
    overflow: hidden;
}

#container{
    background-color:black;
    display: flex;
    flex-direction: column;   
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}
    #navbar{               
        display: flex;
        flex-direction: column;
        min-height: 60px;
    }
        #navbar_ustbar{
            height: 20px;
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }
            #ustbar_bas {
                width: 25px;
                flex-shrink: 0;
            }
            #ustbar_son{
                width: 25px;
                flex-shrink: 0;
            }
            #ustbar_orta{
                display: flex;
                flex-direction: row;
            }
                #ustbar_orta button{
                    background-color: black;
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                    border: none;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                #ustbar_orta button:hover{
                    background-color: #333;                   
                }
                #ustbar_orta button.ta_active{
                    background-color: #444;                   
                }

                #ustscroll_sagbuton{
                    border: none;
                    background-color:#333;
                    height: 20px;
                    width: 25px;
                    position: fixed;
                    right: 10px;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    z-index: 1; 
                }
                #ustscroll_solbuton{
                    border: none;
                    background-color:#333;
                    height: 20px;
                    width: 25px;
                    position: fixed;
                    left: 10px;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                    z-index: 1; 
                }
        #navbar_altbar{
            border-radius: 4px;
            background-color:#444;
            height: 40px;
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }
            #altbar_bas{
                width: 25px;
                flex-shrink: 0;
            }
            #altbar_son{
                width: 25px;
                flex-shrink: 0;
            }   
            /* #altbar_orta{
                
            } */
                #scroll_sagbuton{
                    border: none;
                    background-color:#333;
                    height: 40px;
                    width: 25px;
                    position: fixed;
                    right: 10px;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;  
                    z-index: 1;                 
                }
                #scroll_solbuton{
                    border: none;
                    background-color:#333;
                    height: 40px;
                    width: 25px;
                    position: fixed;
                    left: 10px;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                    z-index: 1; 
                }
                .tools{
                    display: flex;
                    flex-direction: row;
                    min-height: 100%;
                }
                    .toolbox{
                        background-color: darkred;
                        border: none;
                        border-bottom: 3px outset rgb(120, 0, 0);
                        border-right: 1px outset rgb(120, 0, 0);
                        border-radius: 4px;
                        /* width: 40px; */
                        width: 35px;
                        height: 35px;
                        margin-top: 2.5px;
                        margin-left: 3px;
                        margin-right: 3px;
                        flex-shrink: 0;
                        font-size: large;
                    }
                    .toolbox_v2{
                        width: 85px;                       
                    }
                    .toolbox:hover{
                        opacity: 0.6;
                    }
                    .toolbox:active{
                        border-top: 2px outset #444;
                        border-left: 2px outset #444;
                    }
                    .toolbox:disabled{
                        opacity: 0.3;
                        border: none;
                    }

                #tools_hesap{
                    display: none;
                }
                #tools_giris{
                    display: flex;
                }
                #tools_renk{
                    display: none;
                }
                #tools_cizim{
                    display: none;
                }
                #tools_ekle{
                    display: none;
                }       
    #container_nonav_overflow{
        height: 100%;
        overflow-y: hidden;   
        overflow-x: auto;
    }
        #container_nonav{
            height: 100%;
            display: flex;
            flex-direction: column; 
            min-width: 800px;               
        }
            #govde{
                height: calc(100% - 40px);  /* footer asagi gitmesin diye */
                display: flex;
                flex-direction:row;                   
                margin-top: 5px;
                margin-bottom: 5px;
            }
                #notlar{
                    background-color: #444;
                    width: 200px;
                    flex-shrink: 0;
                    overflow: auto;
                    font-size: x-large;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    padding: 5px;
                }

                #resizer{
                    min-width: 5px;
                    background-color: black;
                    cursor: ew-resize;
                    user-select: none; 
                }
                #icerik{
                    display: flex;
                    flex-direction: column;        
                    flex-grow: 1;      
                }
                    #icerik_baslik{
                        background-color: #333;
                        min-height: 30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        border-top-right-radius: 4px;
                    }
                        #not_baslik{
                            min-width: 30px;
                            color: yellowgreen;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 30px;
                            margin-right: 5px;
                            text-align: right;
                            white-space: nowrap;
                            overflow: hidden;
                            padding-left: 3px;
                            padding-right: 3px;
                        }
                        #baslik_degistir_btn{
                            background-color: darkred;
                            border-radius: 4px;
                            min-width: 30px; 
                            margin-right: 5px;                       
                        }
                        #notu_kaydet_btn{
                            background-color: darkred;
                            border-radius: 4px;
                            min-width: 30px;
                            margin-right: 5px;
                        }
                        #notu_sil_btn{
                            background-color: darkred;
                            border-radius: 4px;
                            min-width: 30px;
                            margin-right: 5px;
                        }
                        #icerik_baslik button{
                            border: none;
                            border-bottom: 3px outset rgb(120, 0, 0);
                            border-right: 1px outset rgb(120, 0, 0);
                            border-radius: 4px;
                        } 
                        #icerik_baslik button:hover{
                            opacity: 0.6;
                        }
                        #icerik_baslik button:active{
                            border-top: 2px outset #444;
                            border-left: 2px outset #444;
                        }
                        #icerik_baslik button:disabled{
                            opacity: 0.3;
                            border: none;
                        }
                    #icerik_icerik{
                        outline: 0;
                        background-color: #222;
                        flex-grow: 1;
                        overflow: auto;
                        font-size: large;
                        word-wrap: break-word; 
                        hyphens: auto;  
                        border-bottom-right-radius: 4px;  
                        padding: 5px;                              
                    }
                    #icerik_icerik, #icerik_icerik *{
                        color: #c8c8c8;
                    }
            #footer{
                border-radius: 4px;
                background-color:#444;
                min-height: 25px;     
                margin-bottom: 5px;
                line-height: 25px;
                padding-left: 5px;
                font-size: 15px;
            } 

    #hesap_container{ 
        display: none;        
        width: 100%;
        height: 100%;      
        position: absolute;
        left: 0;
        top: 0; 
        z-index: 2;
    }
        .karart_container{
            width: 100%;
            height: 100%;  
            position: absolute;      
            background-color: black;
            opacity: 0.8;
        }
        #hesap_menu_overflow{
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction:row;      
            overflow: auto;
        }
            #menu_sifredegis{   
                display: none;
                flex-direction:column; 
                margin: auto; 
                border-radius: 10px;
                background-color: #333;  
                width: 250px;             
                min-width: 250px;
                min-height: 200px;
                border: 1px solid darkred;
            }
                #sifredegisForm{   /* guzellestir */
                    flex-grow: 1;  
                    margin: 10px;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;               
                }   
            #menu_notolustur, #menu_altnotolustur{   
                display: none;
                flex-direction:column; 
                margin: auto; 
                border-radius: 10px;
                background-color: #333;  
                width: 250px;             
                min-width: 250px;
                min-height: 140px;
                border: 1px solid darkred;
            }
                #notolusturForm, #altnotolusturForm{   /* guzellestir */
                    flex-grow: 1;  
                    margin: 10px;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;  
                }  
                    .menu_btns{
                        width: 100px;
                        height: 30px;
                        background-color: rgb(139, 0, 0);
                        border: none;
                        border-bottom: 2px outset rgb(120, 0, 0);
                        border-right: 1px outset rgb(120, 0, 0);
                        border-radius: 4px;
                    }
                    .menu_btns:hover{
                        opacity: 0.7;
                    }
                    .menu_btns:active{
                        border-top: 2px outset transparent;
                        border-left: 2px outset transparent;
                    }
                    .menu_inputbox{
                        border: none;
                        outline: none;
                        padding-left: 2px;
                        height: 25px;
                        margin-top: 5px;
                        background-color: #555;
                        border-radius: 4px;
                    }
                    .menu_baslik{
                        text-align: center;
                        margin-top: 25px;
                    }
                    .menu_altbtns{
                        margin-top: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

ul {
    padding-inline-start: 20px;
    list-style-type: none;
}
li{
    display: flex;
}
/* #notlarimyazi{
    height: 25px;
    display:flex; 
    align-items:center; 
    justify-content: center; 
    font-weight:bold; 
    font-size:medium; 
    padding: 0;
} */
#notlar_ul{
    padding: 0;
    width: max-content;
    padding-bottom: 10px;
}
    .notlar_divs{  
        transition: background-color 0.1s ; 
        position: relative;
        background-color: transparent;
    }
        .notgizle_btns{
            font-weight: bold;
            background: none;
            border: none;
            color: #999;
            width: 20px;
            height: 19px;
            flex-shrink: 0;
            z-index: 1;
        }
        .notbaslik_btns{  /* baslik */
            font-weight: bold;
            background: none;
            border: none;
            color: #999;
            height: 19px;
            user-select: none;
            flex-grow: 1;
            line-height: 19px;
            text-align: left;
            font-size: large;
            padding-left: 5px; 
            min-width: 100px;
        }
        .not_altcizgi{
            position: relative;
            background: #222;
            height: 8px;
            margin-left: 20px;
            opacity: 0;
            z-index: 0;
        }
        .not_ustcizgi{
            position: relative;
            background: #222;
            height: 8px;
            margin-left: 20px;
            opacity: 0;
            z-index: 0;
        }
        .dragging_cizgi{
            opacity: 1;
            z-index: 1;
        }
        .dragging_cizgi:hover{
            background: darkred;
        }

        .notbaslik_buttons{ /* buton */
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 35px;
        }
        .dragging{  /* tasinan notbaslik_buttons */
            opacity: 0.3;
        }

        .activebaslik{
            color: white;
            font-weight: bold;
        }
        .activediv{
            background: #666;
        }

.button_disabled {
    opacity: 0; 
    pointer-events: none;
}

#wait_container{ 
    display: none;        
    width: 100%;
    height: 100%;      
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 3;
}
    .karart_container_2{
        width: 100%;
        height: 100%;  
        position: absolute;      
        background-color: black;
        opacity: 0.8;
        display: flex;
    }
        #wait_gif{  
            margin: auto;
        }